<div class="wrapper">
	<div class="l-main">
		<main class="main">
		
			<ul class="l-task_list">
				<% @tasks.each do |task| %>
					<li>
						<%= render 'task_list', task: task %>
					</li>
				<% end %>
			</ul>
		
		</main>
	</div><!--/.l-main-->
	
	<div class="l-pagination">
		<%= paginate @tasks %>
	</div>
	
</div><!--/.wrapper-->
