<div class="wrapper">
	<div class="l-main">
		<main class="main">
			
			<ul class="l-task_list">
					<li>
						<%= render 'task_list', task: @task %>
					</li>
			</ul>

		</main>
	</div><!--/.l-main-->
</div><!--/.wrapper-->