<% if logged_in? %>
<div class="text-center">
  <h1>ログイン済</h1>
</div>

<div class="row">
  <div class="text-center">ユーザ名: <%= current_user.name %></div>
  <aside class="col-md-4">
    <%= render 'tasks/form', tasks: @tasks %>
  </aside>
  <div class="col-xs-8" style="margin-top: 50px;">
    <%= render 'tasks/tasks', tasks: @tasks %>
  </div>
</div>

<% else %>
<div class="center jumbotron">
  <div class="text-center">
    <h1>ようこそ、タスク管理アプリへ</h1>
    <%= link_to 'サインアップ', signup_path, class: 'btn btn-lg btn-primary' %>
  </div>
</div>
<% end %>

