body {
	background: #e6ecf0;
}

.wrapper {
	// width: 800px;
	// // padding: 20px;
	// margin: 0 auto;
	// box-sizing: border-box;
}

.header {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	box-shadow: 0px 3px 2px 0 rgba(0,0,0,.2);
	background: #fff;
	&-title {
		font-size: 22px;
		font-weight: bold;
	}
	&-subtitle {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 16px;
	}
}


.l-gnav {
	background: #f4f4f4;
}
.gnav {
	width: 500px;
	margin: 0 auto;
	padding: 15px 0;
	box-sizing: border-box;
}

.l-gnav_list {
	display: flex;
	>li {
		&:not(:first-child) {
			margin-left: 20px;
		}
	}
	
}
.gnav_list {
	a {
		font-size: 16px;
	}
}

.l-main {
	width: 500px;
	margin: 0 auto;
}
main {
	margin-top: 20px;
}

// index
.l-task_list {
	li:not(:first-child) {
		// margin-top: 20px;
		border-top: 1px solid #aaa;
	}
}
.task_list {
	padding: 20px;
	background: #fff;
	&-header {}
	&-body {
		margin-top: 20px;
	}
	&-text {
		line-height: 1.4;
		font-size: 18px;
	}
	&-footer {
		margin-top: 20px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		&-date {
			flex: 1;
			color: #aaa;
			font-size: 12px;
		}
		&-link {
			&:not(:last-child) {
				margin-right: 10px;
			}
		}
	}
}

// form
.l-form {
	margin-top: 50px;
}
.form {
	&-header {
	}
	&-title {
		font-size: 16px;
		font-weight: bold;
	}
	&-body {
		margin-top: 30px;
	}
	&-footer {
		margin-top: 50px;
	}
}
.form_hoge {
	margin-top: 10px;
}
.form_test {
	margin-top: 10px;
}
.form_content {
	margin-top: 10px;
}

//announce
.l-announce {
	margin: 20px;
}
.announce {
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 4px;
	background: #fff;
}

// error messages
.l-error {
	margin-bottom: 50px;
}
.error {
	padding: 15px;
	border: 1px solid #f00;
	border-radius: 4px;
	background: #fff4f4;
	&-header {}
	&-title {
		font-size: 16px;
		font-weight: bold;
	}
	&-body {
		margin-top: 15px;
	}
}
.l-error_message {
	margin: 10px 0 0 10px;
	li {
		list-style: square inside;
		&:not(:first-child) {
			margin-top: 5px;
		}
	}
}
.error_message {
	display: inline;
}